<!-- add-member.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Ajouter un Membre</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>

<h2>Ajouter un Membre</h2>

<form th:action="@{/members/add}" method="post" th:object="${member}">
    <div>
        <label for="name">Nom:</label>
        <input type="text" id="name" name="name" th:field="*{name}" required/>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    </div>
    <div>
        <label for="lastName">Prénom:</label>
        <input type="text" id="lastName" name="lastName" th:field="*{lastName}" required/>
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" th:field="*{email}" required/>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    </div>
    <div>
        <button type="submit">Ajouter</button>
    </div>
</form>

<a th:href="@{/members}">Retour à la liste</a>

</body>
</html>
